<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-item [routerLink]="'/loja'" *ngIf="showLojaButton" slot="start">
      <ion-icon name="list-circle-outline"  slot="start">
        <a>Loja</a>
      </ion-icon>
    </ion-item>
    <ion-title  *ngIf="!showLojaButton">BIROBIROLAVERS</ion-title>
    <ion-item slot="end">
      <ion-avatar [routerLink]="'/profile'">
        <a>
          <img [src]="avatar" />
        </a>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>
