.avatar-null{
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: aqua;
}

.a-avatar-null{
    text-decoration: none;
    color: black;
    margin-top: -3px;

}

.navbar-background{
    background-color: black;
}