<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loja</ion-title>
    <ion-item slot="end">


      <ion-avatar *ngIf="!avatarBool">
        <a [routerLink]="'/profile'">
          <img [src]="avatar" />
        </a>
      </ion-avatar>


      <ion-avatar *ngIf="avatarBool" class="avatar-null">
        <a [routerLink]="'/profile'">
          {{ firstLetter }}
        </a>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div class="header-buttons">
    <ion-button (click)="sortGamesByTitle()" expand="full" fill="outline">Ordenar por Título</ion-button>
    <ion-button (click)="sortGamesByReleaseDate()" expand="full" fill="outline">Ordenar por Data de
      Lançamento</ion-button>
  </div>

  <ion-card class="search-card">
    <ion-item>
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="searchTerm" (ngModelChange)="searchGamesByTitle($event)"
        placeholder="Digite o título do jogo"></ion-input>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" *ngFor="let item of games">
        <ion-card color="dark" (click)="goToGameDetails(item.id)">
          <img [src]="item.thumbnail" />
          <ion-card-header>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{item.platform}} <br />
            Data de Lançamento: {{item.release_date}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>