<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-avatar>
        <img [src]="user.avatar || 'assets/default-avatar.png'" alt="{{ user.name }}" />
      </ion-avatar>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <p class="email">Email: {{ user.email }}</p>
    </ion-card-header>
  </ion-card>

  <div class="buttons-container">
    <ion-button [routerLink]="'/play-later'">Play Later</ion-button>
    <ion-button [routerLink]="'/currently-playing'">Currently Playing</ion-button>
    <ion-button [routerLink]="'/played'">Played</ion-button>
    <ion-button [routerLink]="'/completed'">Completed</ion-button>
    <ion-button [routerLink]="'/edit-profile'">Edit Profile</ion-button>
    <ion-button class="logout" (click)="logout()">LOGOUT</ion-button>
  </div>
</ion-content>