<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-avatar *ngIf="!avatarBool">
        <a [routerLink]="'/profile'">
          <img [src]="avatar" />
        </a>
      </ion-avatar>

      <ion-avatar *ngIf="avatarBool" class="avatar-null">
        <a [routerLink]="'/profile'" class="a-avatar-null">
          {{ firstLetter }}
        </a>
      </ion-avatar>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <p class="email">Email: {{ user.email }}</p>
    </ion-card-header>
  </ion-card>

  <div class="buttons-container">
    <ion-button [routerLink]="'/play-later'">Jogar mais tarde</ion-button>
    <ion-button [routerLink]="'/currently-playing'">A jogar</ion-button>
    <ion-button [routerLink]="'/played'">Jogado</ion-button>
    <ion-button [routerLink]="'/completed'">Completado</ion-button>
    <ion-button [routerLink]="'/edit-profile'">Editar Perfil</ion-button>
    <ion-button class="logout" (click)="logout()">LOGOUT</ion-button>
  </div>
</ion-content>
