<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="saveProfile()">
    <ion-item>
      <ion-label position="floating" for="name">Name</ion-label>
      <ion-input id="name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="email">Email</ion-label>
      <ion-input id="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" for="avatar">Avatar URL</ion-label>
      <ion-input id="avatar" formControlName="avatar"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Save</ion-button>
  </form>
  <div class="avatar-preview" *ngIf="userForm.get('avatar')?.value">
    <img [src]="userForm.get('avatar')?.value" alt="Avatar" />
  </div>
</ion-content>
